[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=LazPolKit
Categories=Utility;
Comment=Lazarus application with PolicyKit admin privileges
Exec=/usr/bin/lazpolkit
Icon=/usr/share/lazpolkit/lazpolkit.ico
Terminal=false
